# .env.production
VITE_CONTEMBER_ADMIN_API_BASE_URL=/_api
VITE_CONTEMBER_TENANT_API_URL=
VITE_CONTEMBER_CONTENT_API_URL=
BASE_URL=
VITE_APP_URL=
VITE_LOGIN_URL=
VITE_CONTEMBER_ADMIN_SESSION_TOKEN=__SESSION_TOKEN__
VITE_CONTEMBER_ADMIN_LOGIN_TOKEN=__LOGIN_TOKEN__
VITE_CONTEMBER_ADMIN_INVITE_TOKEN=
VITE_CONTEMBER_SIGNUP_TOKEN=
VITE_CONTEMBER_PUBLIC_TOKEN=
VITE_CONTEMBER_CHECKEMAIL_TOKEN=
VITE_CONTEMBER_ADMIN_PROJECT_NAME=buddy-system
VITE_AWS_CREATE_PAYMENT_API_URL=
VITE_AWS_CHECK_STATUS_URL=